<%- include('partials/header'); %>


<div class="containter">
<table id="example" class="table table-striped table-bordered" style="width: 100%">
  <thead>
    <th>Subject</th>
    <th>Question</th>
    <th>options</th>
    <th>Mark</th>
    <th>Acitons</th>
  </thead>
  <tbody>

  </tbody>
</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
var table;
$(document).ready(() => {
  table= $('#example').DataTable({
               "paging": true,
               "processing": true,
               "serverSide": true,
               'ajax': {
                'url': '/viewQuestions' ,
                'type': 'POST',
                 }
             ,
             'columns':
                  [
                      { 'data': 'code'},
                      { 'data': 'title'},
                      { 'data': 'body'},
                      { 'data': 'marks' },
                      {'data' : 'action',"searchable": false,"orderable": false,}
                  ],
              "columnDefs": [
                  {
                    "targets" : -1,
                      "render" :function(data ,type ,row, meta)
                      { 
                          data= `
                          <centre>
                            <button class='btn btn-small' onclick ="deleteQuestion(`+row._id+`)">Delete</button> 
                            <button class='btn btn-small' onclick ="reademore(`+row._id+`)">Read More</button></centre>
                          `;
                           
                        return data;
                      }
                  }
              ]
 });
  });
 function deleteQuestion(id){};
function readmore(id){};
</script>

<%- include('partials/footer'); %>
